@model WebApplication_PNT1.Models.Proyecto

@{
    ViewData["Title"] = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ancho)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ancho)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Groso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Groso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantColores)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantColores)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaPedido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CostoUnitario)
        </dt>
        <dd class="col-sm-10 costo">
            @Html.DisplayFor(model => model.CostoUnitario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CostoTotal)
        </dt>
        <dd class="col-sm-10 costo">
            @Html.DisplayFor(model => model.CostoTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProyecto">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>

<style>
    .costo::before {
        content: '$';
        font-weight: bold;
    }

    .costo {
        font-weight: bold;
    }
</style>
