@model IEnumerable<WebApplication_PNT1.Models.Proyecto>

@{
    ViewData["Title"] = "Index";
}

<h2>Proyectos personalizados</h2>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                Fecha creacion
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                Precio por unidad
            </th>
            <th>
                Precio Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td class="costo">
                    @Html.DisplayFor(modelItem => item.CostoUnitario)
                </td>
                <td class="costo">
                    @Html.DisplayFor(modelItem => item.CostoTotal)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProyecto">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProyecto">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProyecto">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .costo::before {
        content: '$';
        font-weight: bold;
    }

    .costo {
        font-weight: bold;
    }
</style>
