@model IEnumerable<WebApplication_PNT1.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<style>
    .background {
        background-image: url('https://img.freepik.com/free-vector/geometric-pattern-background-vector-white_53876-126684.jpg?w=900&t=st=1720292072~exp=1720292672~hmac=28524f67c1748ffe62dc2963aed77679dd2f15463c926d2e5d0124c03f6302c9');
        background-size: cover;
        background-position: center;
        padding: 20px;
        min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
    }

    h1 {
        font-family: Monaco, monospace; /* Establece la fuente en monoespacio para h1 */
        font-weight: bold;
    }

    h5, p {
        font-family: Helvetica, sans-serif; /* Establece la fuente en sans-serif Helvetica para h5 y p */
    }
</style>

<div class="background">
    <h1>Pedidos en Curso</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FechaCreacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdPedido">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdPedido">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdPedido">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

